body {
  background-color: red;
}

.width {
  padding-top: 0px;
  width: 90%;
}

.width_div {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.b-header__div__img {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.b-header__img {
  width: 500px;
}
.b-header__div__inputs {
  display: flex;
  justify-content: space-around;
}
.b-header__input {
  width: 500px;
  height: 25px;
  border-style: dashed;
  border-color: black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.b-header__select {
  width: 300px;
  height: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.b-main {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.b-main__div {
  width: 200px;
  margin-bottom: 20px;
}
.b-main__div__p {
  font-weight: 1000;
}
.b-main__div__div-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: white;
  height: 400px;
}
.b-main__div__div-contenido__divIPT {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.b-main__div__div-tipo {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}
.b-main__div__div-tipo__p {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  font-weight: 800;
}

.b-footer__div {
  display: flex;
  justify-content: center;
}
.b-footer__div__h1 {
  font-size: 60pt;
  color: white;
  text-decoration-line: underline;
}

.bug {
  background-color: #9de013;
  background-image: url(bicho.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.dark {
  background-color: rgb(34, 32, 32);
  background-image: url(siniestro.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.dragon {
  background-color: #016ada;
  background-image: url(dragon.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.electric {
  background-color: #ffe528;
  background-image: url(electrico.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.fairy {
  background-color: #f792f2;
  background-image: url(hada.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.fighting {
  background-color: #de3464;
  background-image: url(lucha.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.fire {
  background-color: #ffa94b;
  background-image: url(fuego.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.flying {
  background-color: #9bb9d3;
  background-image: url(volador.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.ghost {
  background-color: #3f60c7;
  background-image: url(fantasma.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.grass {
  background-color: #55d749;
  background-image: url(planta.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.ground {
  background-color: #f4702b;
  background-image: url(tierra.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.ice {
  background-color: #68e5d6;
  background-image: url(hielo.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.normal {
  background-color: #97a4b2;
  background-image: url(normal.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.poison {
  background-color: #bd5ce3;
  background-image: url(veneno.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.psychic {
  background-color: #ff6d71;
  background-image: url(psiquico.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.rock {
  background-color: #decb8d;
  background-image: url(roca.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.steel {
  background-color: grey;
  background-image: url(acero.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}

.water {
  background-color: #3598ee;
  background-image: url(agua.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */