body {
  background-color: red;

}
.width {
  padding-top: 0px;
  width: 90%;
}
.width_div{
  height:250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.b-header {
  &__div__img {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__img {
    width: 500px;
  }

  &__div__inputs {
    display: flex;
    justify-content: space-around;
  }

  &__input {
    width: 500px;
    height: 25px;
    border-style: dashed;
    border-color: black;
    // background-color:rgb(138, 129, 129);
    color: white;

    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  &__select {
    width: 300px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

.b-main {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__div {
    width: 200px;
    margin-bottom: 20px;
    &__p {
      font-weight: 1000;
      // margin-top: 0px;
    }
    &__div-contenido {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-style: solid;
      border-color: white;
      height: 400px;
      &__divIPT{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
    &__div-tipo {
      display: flex;
      justify-content: space-between;
      padding-top: 2px;
      &__p {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 2px;
        font-weight: 800;
      }
    }
  }
}
.b-footer__div {
  display: flex;
  justify-content: center;
  &__h1 {
    font-size: 60pt;
    color: white;
    text-decoration-line: underline;
  }
}
.bug {
  background-color: olive;
  background-image: url(bicho.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.dark {
  background-color: rgb(34, 32, 32);
  background-image: url(siniestro.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.dragon {
  background-color: #45919b;
  background-image: url(dragon.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.electric {
  background-color: yellow;
  background-image: url(electrico.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.fairy {
  background-color: rgb(218, 58, 218);
  background-image: url(hada.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.fighting {
  background-color: orangered;
  background-image: url(lucha.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.fire {
  background-color: red;
  background-image: url(fuego.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.flying {
  background-color: #9bb9d3;
  background-image: url(volador.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.ghost {
  background-color: #5602f1;
  background-image: url(fantasma.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.grass {
  background-color: green;
  background-image: url(planta.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.ground {
  background-color: rgb(199, 102, 64);
  background-image: url(tierra.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.ice {
  background-color: rgb(168, 231, 240);
  background-image: url(hielo.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.normal {
  background-color: #76565c;
  background-image: url(normal.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.poison {
  background-color: #602c8e;
  background-image: url(veneno.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.psychic {
  background-color: rgb(221, 8, 221);
  background-image: url(psiquico.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.rock {
  background-color: #481809;
  background-image: url(roca.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.steel {
  background-color: grey;
  background-image: url(acero.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
.water {
  background-color: #1054e6;
  background-image: url(agua.png);
  background-size: 230px;
  background-position: center;
  background-repeat: no-repeat;
}
